version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"  # <-- проброс порта для DBeaver / SSH-туннеля
    restart: unless-stopped

  web:
    image: ${DOCKER_IMAGE}
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=False
      - DB_ENGINE=django.db.backends.postgresql
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    volumes:
      - media_data:/app/media
      - logs_data:/app/logs
      - staticfiles_data:/app/staticfiles
    depends_on:
      - db
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - staticfiles_data:/app/staticfiles
      - media_data:/app/media
    depends_on:
      - web
    restart: unless-stopped

volumes:
  postgres_data:
  media_data:
  logs_data:
  staticfiles_data:
